body {
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
}

input::placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #d3dee9;
}
